* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color 0.1s ease-in;
}

a:hover {
    color: #d4eef5;
}

body {
    background-color: rgb(17, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    height: 100vh;
    margin: auto;
    display: flex;
}
.container {
    margin: auto;
    max-width: 97vw;
}
.genwindow {
    margin: auto;
}

.label {
    color: rgb(50, 98, 255);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;
}
.slogan {
    font-weight: 400;
    text-align: center;
    font-style: italic;
    color: #fff;
}

.generator {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.passw_area {
    resize: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: rgba(59, 59, 59, 0.308);
    border-color: #74747438;
    color: white;
}
.settings {
    background-color: rgba(32, 32, 32, 0.144);
}

.set {
    margin-top: 1.5vh;
    list-style: none;
    text-align: center;
    color: #fff;
}
ul:first-child {
    content: none;
    padding: 0;
}

.genbutton {
    border-radius: 10px; 
    background-color: rgb(50, 98, 255);
    border: none;
    color: #fff;
} 
.genbutton:hover, input:hover, .copybtn:hover {
    cursor: pointer;
}
.genbutton:hover {
    background-color: rgb(68, 112, 255);
}
.genbutton:active {
    background-color: rgb(45, 90, 236);
}

.copybtn {
    background-color: rgba(226, 226, 226, 0.904);
    border-radius: 6px;
    border: none;
    background-repeat: no-repeat;
    padding: 0;
} 
.copyicon {
    height: 30px;
    padding-top: 4px;
}

#canvas { 
    height:100%;    
    left:0;
    pointer-events:none;
    position:fixed;
    top:0;
    width:100%; 
    z-index: -1;
}